.header {
    height: 130vh;
    border-left: 13rem solid transparent;
    border-image: linear-gradient(180deg,
            hsl(210deg 100% 47%) 0%,
            hsl(212deg 91% 56%) 0%,
            hsl(212deg 93% 61%) 2%,
            hsl(212deg 95% 66%) 5%,
            hsl(211deg 98% 71%) 10%,
            hsl(210deg 100% 76%) 17%,
            hsl(212deg 100% 81%) 25%,
            hsl(213deg 100% 87%) 34%,
            hsl(214deg 100% 91%) 46%,
            hsl(215deg 100% 96%) 61%,
            hsl(0deg 0% 100%) 90%);

    border-image-slice: 1;
    padding-top: 1rem;
}


.sobre {
    margin-left: -9rem;
    height: 120vh;
    width: 93vw;
    background-color: white;
    /* box-shadow: -1px 3px 23px -3px rgba(0, 0, 0, 0.56); */
    display: flex;
}

.left {
    min-width: 5rem;
    background-color: #0078F0;
    border-top-right-radius: 3rem;
    border-bottom-right-radius: 3rem;
    box-shadow: -1px 3px 23px -3px rgba(0, 0, 0, 0.56);


}

.right {


    display: grid;
    place-content: start center;
    padding: 0 3rem 0 3rem;
    /* border: 2px solid red; */
}



.containerHeroe {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.containerHeroe img {
    margin-top: -4rem;

}

.containerHeroe h1 {

    font-size: 7rem;
    line-height: 85px;
    letter-spacing: -0.02em;
    color: #011930;

}

.containerHeroe h1::before {

    content: '✔';
    color: #3a86ff;
    font-size: 4rem;
    vertical-align: top;


}

.containerHeroe h4 {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 4rem;
    letter-spacing: -0.02em;
    color: #0078F0;
}

.containerHeroe h3 {
    font-size: 3rem;
    text-align: right;
    transform: rotate(-2deg);
}


.bottomgreen {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    background: #3a86ff;
    box-shadow: 0 5px #011830;


}

.bottomgreen:hover {
    box-shadow: 0 3px #4433ff;
    top: 1px;

}

.bottomgreen:hover:after {
    box-shadow: 0 3px #011830;
    top: 1px;

}

.bottomgreen:active {
    box-shadow: 0 0 #011830;
    background: #011830;
    top: 5px;

}

.containerImagen {
    display: flex;
    justify-content: space-between;
    gap: 8rem;
}


.containerFooter {
    display: flex;
    /* border: 3px solid blue; */
    margin-top: 3rem;
}

.containerFooter img {
    max-height: 3rem;
    max-width: 3rem;
    margin: 1rem 1rem 1rem 1rem;

}

.containerAnimationPuntos {
    display: flex;
    align-items: center;
}

@media (max-width:908px) {
    .header {
        border-left: 0;
        padding: 0rem;
        height: 130vh;




    }

    .sobre {
        margin-left: 0;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        box-shadow: none;
    }



    .left {
        min-height: 1.5rem;
        border-radius: 0;
        box-shadow: -1px 3px 23px -3px rgba(0, 0, 0, 0.56);

    }

    .containerHeroe h1 {

        font-size: 6rem;
        line-height: 75px;
        letter-spacing: -0.02em;
        color: #333945;

    }

    .right {
        padding: 0;
    }

    .containerImagen {
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
    }

    .containerHeroe {

        align-items: center;
        text-align: center;
    }

    .containerHeroe img {
        margin-top: -2rem;
        margin-bottom: 1.5rem;

    }

    .containerFooter {
        display: none;

    }

    .containerAnimationPuntos {
        justify-content: center;
    }




}

@media (min-width: 1399.98px) {

    .header {
        height: 100vh;
    }

    .sobre {
        margin-left: -9rem;
        height: 97vh;
        width: 93vw;


    }

}