@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

    --main-bg-blue: #0078F0;

}

@font-face {
    font-display: swap;
    font-family: 'Roboto';
    src: url('../public/font/Roboto-Bold-subset.woff2');
}

@font-face {
    font-display: swap;
    font-family: 'RobotoRegular';
    src: url('../public/font/Roboto-Regular-subset.woff2');
}

@font-face {
    font-display: swap;
    font-family: 'RobotoThin';
    src: url('../public/font/Roboto-Thin-subset.woff2');

}

@font-face {
    font-display: swap;
    font-family: 'KodchasanLight';
    src: url('../public/font/Kodchasan-Light.woff2');

}

@font-face {
    font-display: swap;
    font-family: 'KodchasanMedium';
    src: url('../public/font/Kodchasan-Medium.woff2');

}

@font-face {
    font-display: swap;
    font-family: 'satisfy';
    src: url('../public/font/Satisfy-Regular-subset.woff2');

}


@layer base {
    h1 {
        font-family: Roboto !important;
        ;
    }

    button {
        font-family: RobotoThin;
        background-color: #0078F0;
    }

    h3 {
        font-family: satisfy;
        font-size: 3rem;
        color: #0078F0;
    }

    h4 {
        font-family: KodchasanMedium, sans-serif;

    }

    li {
        font-family: KodchasanLight, sans-serif;


    }

    p {
        font-family: KodchasanMedium, sans-serif;

    }

    span {
        font-family: KodchasanMedium, sans-serif;
        font-weight: bold;
        color: #0078F0;
    }



}